// Navigation styles
.navigation {
  background: $darkGrey;
  padding: 20px;
  min-width: 150px;
  .navigation-item {
    list-style: none;
    text-transform: uppercase;
    margin: 10px 0;
    &:hover { cursor: pointer; }
  }
}
