// Main styles
.main-body {
  background-color: $background;
  background-image: url('../static/imgs/binary.png');
  color: $main-text-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  width: 100%;
}
